<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Hero Academy!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles.31d6cfe0d16ae931b73c.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('runtime.bc1e8c3c6ef9c9ef335d.js') }}" defer></script>
            <script src="{{ asset('polyfills.99e0bb061e2968825510.js') }}" defer></script>
            <script src="{{ asset('main.802f043c8f6bb3303eb5.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <app-root></app-root>
        {% endblock %}
    </body>
</html>
